/*fuentes*/
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/*general*/
body{
    margin: 0;
    padding: 0;
}
/*NavBar Pantallas normales a grandes*/
.navgrid{
    display: grid;
    place-items: center;
    width: 100vw;
    height: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    height: 11vh;
    margin: 0;
}
nav img.logo{
    height: 80%;
    max-height: 70px;
    width: auto;
    max-width: 70px;
    border-radius: 50%;
    margin: 0;
    vertical-align: baseline;
    margin-left: 10vw;
    filter: invert(100%);
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 20px;
    position: sticky;
    top: 0;
}
nav ul.nets{
    gap: 30px;
    margin-right: 4vw;
}
nav ul.nets img.logo{
    height: 1.7em;
    max-height: 50px;
    width: 1.7em;
    max-width: 50px;
    justify-content: flex-end;
    margin-left: 0;
    margin-top: 2vh;
    filter: invert(0%);
}
nav ul.menu li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 2vw;
}
@media (min-width: 769px) {
  nav ul.menu li {
    display: inline;
  }
}
/*responsive del navbar y el hamburguer*/
@media(max-width: 768px){
.hamburger {
    display: block;
}
nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 1rem;
}
nav img.logo, nav ul.nets{
    display: none;
}
nav ul.menu {
    flex-direction: column;
    width: 100%;
    display: none;
}
nav.open ul.menu {
    display: flex;
}
nav ul.menu li {
    padding: 10px 0;
}


}

/*bodygrid*/
.bodygrid{
    height: 89vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:  "infoleft infoleft centergrid centergrid centergrid centergrid centergrid inforight inforight";    
    background-color: #0a1728;
}
/*ubicación, tamaño y difuminado para los 3 compos del bodygrid*/
.foco,
.focoapagado,
.backgroundhtml,
.backgroundpython {
  max-width: 100%;
  justify-self: center;  
  mask-image: 
    linear-gradient(to top, transparent 0%, black 15%, black 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-image: 
    linear-gradient(to top, transparent 0%, black 15%, black 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 15%, black 85%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}
/*ubicaciones en el grid*/
.backgroundhtml,
.frontcartel{
    grid-area: infoleft;
}
.backgroundpython,
.backcartel{
    grid-area: inforight;
}
/*desaturado e index para los backgrounds laterales, se repite un poco de codigo*/
.backgroundhtml,
.backgroundpython{
    height: 100%;
    filter: brightness(0.3);
    z-index: 0;
    align-self: end;
}
.backgroundhtml{
  mask-image:
  linear-gradient(to top, transparent 0%, black 60%, black 80%, transparent 100%),
  linear-gradient(to left, transparent 0%, black 60%, black 70%, transparent 100%);
  -webkit-mask-image:  
  linear-gradient(to top, transparent 0%, black 60%, black 80%, transparent 100%),
  linear-gradient(to left, transparent 0%, black 60%, black 70%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}
.backgroundpython{
  mask-image:
  linear-gradient(to top, transparent 0%, black 60%, black 70%, transparent 100%),
  linear-gradient(to left, transparent 0%, black 60%, black 70%, transparent 100%);
  -webkit-mask-image:  
  linear-gradient(to top, transparent 0%, black 60%, black 70%, transparent 100%),
  linear-gradient(to left, transparent 0%, black 60%, black 70%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}
/*tamaños y ubicación de los carteles*/
.backcartel,
.frontcartel{
    font-size: 3em;
    align-self: center;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
    opacity: 0.1;
}
/*letras y colores individuales*/
.backcartel{
  color: #ccc;
  font-family: 'Courier New', monospace;
  text-shadow: 0 0 5px #666;
}
.frontcartel{
  color: #7df9ff;
  text-shadow: 0 0 10px #7df9ff;
  font-style: italic;
}
#subt{
    font-size: 1em;
}
.centergrid{
    grid-area: centergrid;
    display: grid;
    height: 100%;
    max-height: 85vh;
    grid-template-rows: 70% 20% 10%;
    grid-template-areas: 
    "foco"
    "nombre"
    "subt";
}
.foco,
.focoapagado{
    grid-area: foco;
    height: 100%;
    max-height: 80vh;
    align-self: start;
}
.foco{
    display: none;
}
.focoapagado{
    display: block;
}
.nombre {
  grid-area: nombre;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  align-self: start;
  z-index: 2;
}
.subt {
  grid-area: subt;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
}

/*transicion para que no parezca tan brusco*/
.backgroundhtml,
.backgroundpython,
.backcartel,
.frontcartel {
  transition: filter 0.6s ease, opacity 0.6s ease;
}
/*mediaquerys para el resto*/
@media (max-width: 768px){
    .bodygrid{
        grid-template-columns: 1fr;
        grid-template-areas:  "centergrid"; 
    }
    .subt{
      display: none;
    }
    .backgroundhtml,
    .backgroundpython{
        display: none;
    }
    .backcartel,
    .frontcartel{
        display: none;
    }
};